@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  margin: 1rem;
  text-align: center;
}
.nav {
  background-color: #171719;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
}
.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li:active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}
.section_container {
  max-width: var(--max-width-1400);
  margin: auto;
  padding: 5rem 1rem;
}
.header_content {
  max-width: 600px;
  margin-left: auto;
}
.header_content h4 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}
.header_content h1 {
  font-size: 5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}
.header_content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}
.header_container {
  min-height: 650px;
  background-color: rgb(38, 80, 110);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.swiper {
  width: 100%;
  max-width: none;
  height: auto;
}
.slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-pagination-bullet {
  background: #46464b;
}

/* Swiper bileşeninin tam genişlikte ve belirli bir yükseklikte kalmasını sağla */
.slider-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider içindeki resimlerin sabit boyutta kalmasını sağla */
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Resimlerin oranını koruyarak kırpma yapar */
}

.card {
  width: 240px;
  height: 320px;
  border: 1px solid rgb(97, 73, 220);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(238, 228, 228, 0.023);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
}
.card .card-img {
  max-width: 100%;
  height: 220px;
  margin-bottom: 10px;
  object-fit: cover;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0, 20%);
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0, 30%);
}
